.mainContent {
    display: flex;

}


.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
  
 
}

.favorite {
    margin-bottom: 20px;
}

.highlighted {
    color: blue;
    text-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

