<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="~{fragments/head :: head}"></head> 
    <body>
        <main>
            <header th:replace="~{fragments/header :: header}"></header>
            <div>
                <h1 th:text="${noticia.titulo}"></h1>
                <p th:text="${noticia.fecha}"></p>
                <p th:text="${noticia.antetitulo}"></p>
                <p th:text="${noticia.bajada}"></p>
                <img th:src="@{'/imagen/noticia/' + ${noticia.id}}" alt="Imagen de la Noticia"/>

                <p th:text="${noticia.contenido}"></p>
                <!-- Puedes agregar más detalles de la noticia según sea necesario -->
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>
</html>
