<!DOCTYPE html>
<!--
PANEL DONDE SE ADMINISTRA LAS NOTICIAS, SE ORDENAN, SE CATEGORIZAN Y MODIFICAN.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head}"></head> 
    <body>
        <header th:replace="~{fragments/header :: header}"></header>
        <main>
            <h1>SIDUNCU-WEB: Administrador de la pagina</h1>
            <div> El contenido de la pagina, la interfaz del usuario que administra la Api de la pagina de Siduncu</div>    
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>
</html>
